.header-bg {
  background: hsl(0, 0%, 100%);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  border-bottom: 2px solid hsl(223, 64%, 98%);
  padding: 30px;
  flex-wrap: wrap;
  position: relative;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}

.header-nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  color: hsl(219, 9%, 45%);
}
.menu-mobile {
  display: none;
}

.header-infos {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-profile {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.header-profile:hover {
  width: 44px;
  height: 44px;
  border: 2px solid hsl(26, 100%, 55%);
}

.header-nav ul li a:hover {
  padding-bottom: 40px;
  border-bottom: 5px solid hsl(26, 100%, 55%);
}

@media (max-width: 860px) {
  .header-nav nav {
    display: none;
  }
  .header-infos {
    gap: 10px;
  }
  .header-profile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  .header-profile:hover {
    width: 28px;
    height: 28px;
  }
  .menu-mobile {
    display: block;
    padding: 5px;
    background: none;
    border: none;
  }
  .header-nav {
    gap: 10px;
  }
}
